<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新建文件</title>
</head>
<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../css/index.css">
<body>
<script type="text/html" id="chooseFile">
    <form class="layui-form" action="" style="margin-top:20px;">
        <label class="layui-form-label">选择文件：</label>
        <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>选择文件</button>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文件描述：</label>
            <div class="layui-input-block">
                <textarea placeholder="文件描述" id="describe" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit lay-filter="addentryplan" style="margin-left: 450px ">确认</button>
        </div>
    </form>
</script>

<script type="text/html" id="chooseFileType">
    <form class="layui-form" action="" style="margin-top:20px;">
        <label class="layui-form-label">选择文件类型：</label>
        <button type="button" class="layui-btn" id="fileType"><i class="layui-icon"></i>选择文件类型</button>
        <div class="layui-form-item layui-form-text">

        </div>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit lay-filter="addentryplan" style="margin-left: 450px ">确认</button>
        </div>
    </form>
</script>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md7">
        <form class="layui-form" action="" id="addform">
            <div class="layui-form-item">
                <i class="required-color">*</i><label class="layui-form-label">标题:</label>
                <div class="layui-input-block">
                    <input type="text" name="title" id="title" required lay-verify="required" placeholder="请输入标题"
                           style="width: 400px" autocomplete="off" class="layui-input">
                </div>
            </div>
            <i class="required-color">*</i><label class="layui-form-label">类型:</label>
            <div class="layui-input-block">
                <input type="text" name="fileStyle" id="fileStyleId" required lay-verify="required" placeholder="请输入类型"
                       style="width: 400px" autocomplete="off" class="layui-input" th:onclick="'javascript:add()'">
            </div>
            <br/>
            <div style="margin-top:30px">
                <label class="layui-form-label">文件封面:</label>
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传文件封面
                </button>
            </div>
            // <input type="hidden" name="type" id="type" value="1"/>
            <div class="layui-form-item layui-form-text" style="margin-top: 38px">
                <label class="layui-form-label">编辑器:&nbsp;&nbsp;</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea layui-hide" name="content" id="content" lay-verify="content"
                              id="LAY_demo_editor"></textarea>
                </div>
            </div>
            <div id="allfiles">
            <button class="layui-btn layui-btn-primary layui-btn-small" id="fileUrl">附件上传</button>
            </div>

            <i class="required-color">*</i><label class="layui-form-label" style="margin-top: 50px ">权限设置:</label>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">可查阅人员</label>
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea" style="margin-top :-50px"></textarea>
                </div>
                <div>
                    <button class="layui-btn layui-btn-primary layui-btn-mini" style="margin-left:1100px;color:blue">
                        选择人员
                    </button>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">可编辑人员</label>
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea"></textarea>
                </div>
                <div>
                    <button class="layui-btn layui-btn-primary layui-btn-mini" style="margin-left:1100px;color:blue">
                        选择人员
                    </button>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">可删除人员</label>
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea"></textarea>
                </div>
                <div>
                    <button class="layui-btn layui-btn-primary layui-btn-mini" style="margin-left:1100px;color:blue">
                        选择人员
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" id="demo1">确定上传</button>
                </div>
            </div>
        </form>
        <div class="grid-demo grid-demo-bg1"></div>
    </div>
</div>
<script src="../layui/layui.js"></script>
<script src="../js/jquery-1.8.3.min.js"></script>
<script src="../js/ztree/js/jquery.ztree.all.min.js"></script>
<script>
    var treedata;
    var treeObj;
    var reg = "^[^!@#$%^&*()-=+]+$";
    var setting = {
        async: {
            enable: false
        },
        callback: {
            onClick: function (event, treeId, treeNode) {//事件的类型可变
                edit(treeNode.id);
            }
        }
    };
    layui.use(['form', 'element','layer', 'upload', 'layedit'], function () {
        var form = layui.form
            , layer = layui.layer
            , element = layui.element
            , layedit = layui.layedit
            , upload = layui.upload;
        var editIndex = layedit.build('LAY_demo_editor');
        //执行实例
        //添加弹窗初始化
        $('.layui-btn-small').on('click', function () {
            var addindform = $('#chooseFile').html();
            layer.open({
                type: 1,
                title: '选择附件',
                content: addindform,
                area: ['650px', '400px']
            })
            //选完文件后不自动上传
            upload.render({
                elem: '#fileType'
                , auto: false
                , url: '../file/upload.htmls'
                , accept: 'file' //普通文件
                , done: function (res) {
                    if(!reg.test($("#addfiles").val())){
                        lay.msg("您好，文件名称有不规范字符，请修改!");
                        return false;
                    }
                    var n=$("#addfiles").find("a").length;
                    if(n>=10) {
                        layer.msg('简历附件个数已达上限！');
                        return false;
                    }
                    if (res.code == 2) {
                        layer.msg('上传成功！');
                        $("#addfiles").append('<a href="'+res.data+'" style="color: #01AAED" target="_blank">简历附件'+(n+1)+'</a>')
                        $("#addfiles").append('<button class="layui-btn layui-btn-primary layui-btn-small" onclick="del(this)"><i class="layui-icon"></i></button>');
                    } else {
                        layer.msg('上传失败，请重新上传！');
                    }

                }
            });
        })
        //添加弹窗初始化
        $('#filesearch').on('click', function () {
            var addindform = $('#chooseFileType').html();
            layer.open({
                type: 1,
                title: '选择文件类型',
                content: addindform,
                area: ['700px', '600px']
            })
        })
        $(function () {
            //主页树加载
            $.ajax({
                async: false,//是否异步
                cache: false,//是否使用缓存
                type: 'GET',//请求方式：post
                dataType: 'json',//数据传输格式：json
                url: 'getKindByTree',//请求的action路径
                success: function (data) {
                    treedata = data;
                    //把后台封装好的简单Json格式赋给treeNodes
                    treeObj = $.fn.zTree.init($(" "), setting, data);
                }
            });
        });
//        function showstation(id) {
//            $("#station").empty();
//            $.ajax({
//                async: false,//是否异步
//                cache: false,//是否使用缓存
//                data: {"id": id},
//                dataType: 'json',//数据传输格式：json
//                url: 'department/getStation',//请求的action路径
//                success: function (data) {
//                    $.each(data, function (idx, obj) {
//                        $("#station").append('<div>' + obj.name + '</div>');
//                    });
//                }
//            });
//        }
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            , url: '../file/upload.htmls'
            , accept: 'file' //普通文件
            , size: 5120
            , exts: 'jpeg|png|jpg'
            , done: function (res) {
                var photoUrl = $("#test1").val();
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
            }
        });
    });
    // 监听添加事件表单
    form.on('submit(formDemo)', function (data) {
// title, content, photourl, fileurl, userId, fileStyleId, filesize,describe
        var title = $("#title").val();
        var content = $("#content").val();
        var userId = $("#userId").val();
        var describe = $("#describe").val();
        var photoUrl = $("#test1").val();
        $.ajax({
            url: 'insertFile.htmls',
            method: 'post',
            data: {
                title: title,
                content: content,
                userId: userId,
                describe: describe,
                photourl:photoUrl,
            },
            success: function (data) {
                if (data.code == 2) {
                    layer.msg("异常");
                }
                else {
                    layer.msg('添加成功!');
                }
            }
        });
        return false;
    })
</script>
</body>
</html>