<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文档管理</title>
    <style>
        .layui-btn-add {
            float: left;
        }
        .layui-form-search {
            float: left;
            margin-right: 20px;
        }
        .layui-table-inductionlist {
            clear: both;
            margin-right: 10px;
        }
    </style>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../js/ztree/css/zTreeStyle.css">
    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-1.8.3.min.js"></script>
</head>
<input type="hidden" id="userId" th:value="${session.LOGIN_USER_ID}">
<body>

<script type="text/html" id="addinduction3">
    <span> 是否确定选中删除文件？</span>
    <div style=" margin-left:120px ;margin-top: 60px ">
        <button class="layui-btn" lay-submit lay-filter="entrytag">确定</button>
        <button class="layui-btn layui-btn-primary" id="tagcancel">取消</button>
    </div>
</script>

<script type="text/html" id="addinduction">
    <span> 请选择需要调整的文件类型</span>
    <div class="layui-inline">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="input" name="title" lay-verify="title" autocomplete="off" class="layui-input">
        </div>
        <div>
            <ul class="ztree" id="first_tree"></ul></div>
    </div>
    </div>
    <div style=" margin-left:120px ;margin-top: 60px ">
        <button class="layui-btn" lay-submit lay-filter="styletag">确定</button>
        <button class="layui-btn layui-btn-primary" id="stylecancel">取消</button>
    </div>
</script>
<div class="layui-btn-add" style="margin-left: 40px">
    <button class="layui-btn inducbtnadd" data-type="reload">调整文件类型</button>
    <button class="layui-btn inducbtnadd3" data-type="reload">删除</button>
</div>
<div class="layui-form-search">
    <form class="layui-form" style="float: left;margin-top: 40px;margin-left: 20px ">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">文档类型:</label>
                <div class="layui-input-inline">
                    <input type="input" name="fileStyleId" lay-verify="title" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="text" name="startDate" class="layui-input" id="inducdate1" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="endDate" id="inducdate2" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">文件标题:</label>
                <div class="layui-input-inline">
                    <input type="input" name="title" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="entrysearch">查询</button>
            </div>
        </div>
    </form>
</div>

<div class="layui-table-inductionlist">
    <table class="layui-hide" id="allfile" lay-filter="allfile"></table>
</div>

<script>
    layui.use(['table', 'form', 'laydate', 'laypage', 'layer', 'laytpl'], function () {
        var table = layui.table,
            form = layui.form,
            $=layui.$,
            laydate=layui.laydate,
            layptl=layui.laytpl,
            laypage = layui.laypage,
            layer = layui.layer;


        var userId=$("#userId").val();

        var fileManage = table.render({
            elem: '#allfile',
            where: {"date1": $("#inducdate1").val(), "date2": $("#inducdate2").val()},
            url: '../show/allFile',
            cols: [[
                {checkbox: true}
                , {field: 'fileNo', title: '编号', width: 300}
                , {field: 'title', title: '文件名称', width: 300}
                , {field: 'addFileTime', title: '创建时间', width: 300}
                , {field: 'username', title: '创建人', width: 200}
                , {field: 'departmentName', title: '部门', width: 300}
                , {field: 'fileStyle', title: '文档类型', width: 200}
            ]]
            , page: true
            , height: 750,
            id: 'allfile'
        });
        laypage.render({
            elem: 'demo1'
            , count: 10 //数据总数
            , jump: function (obj) {
            }
        });
//        table.on('tool(fileManage)', function (obj) {
//        });
//        form.on('select(departsearch)',function (data) {
//            $.ajax (
//                {
//                    async: false,//是否异步
//                    cache: false,//是否使用缓存
//                    type: 'POST',//请求方式：post
//                    dataType: 'json',//数据传输格式：json
//                    url: 'getListByTree',//请求的action路径
//                    success: function(data) {
//                        treedata = data;
//                        //把后台封装好的简单Json格式赋给treeNodes
//                        treeObj = $.fn.zTree.init($(" "), setting, data);
//                    }
//                });
//        });
        //日期范围
        //时间选择器
        laydate.render({
            elem: '#inducdate1'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#inducdate2'
            , type: 'datetime'
        });
        $('.inducbtnadd3').on('click', function (e) {
            e.preventDefault();
            var addindform = addinduction3.innerHTML;
            layer.open({
                title: '删除文件',
                type: 1,
                content: addindform,
                area: ['400px', '200px']
            });
            var beginDate=$("#inducdate1").val();
            var endDate=$("#inducdate2").val();
            var d1 = new Date(beginDate.replace(/\-/g, "\/"));
            var d2 = new Date(endDate.replace(/\-/g, "\/"));
            if(beginDate!=""&&endDate!=""&&d1 >=d2)
            {
                layer.msg("开始时间不能大于结束时间！");
                return false;
            }
            form.on('submit(entrytag)', function (obj) {
                var checkStatus = table.checkStatus('allfile');
                data=checkStatus.data ;
                console.log(checkStatus);
                if (data.length == 0) {
                    layer.msg('请选择需要删除的文件！')
                } else {
                    var ids = '';
                    $.each(data, function (idx, obj) {
                        if (idx > 0) {
                            ids += ',';
                            debugger
                        }
                        ids += obj.id;
                    });
                    console.log(ids);
                    $.ajax({
                        url: '../deletefile.htmls',
                        method: 'post',
                        data: {"ids": ids,"userId":userId},
                        dataType: 'json',
                        success: function (result) {
                            if (result.code ==0) {
                                fileManage.reload();
                                layer.msg(result.msg)
                            } else {
                                layer.msg(result.msg);
                            }
                            layer.closeAll();
                        }
                    });
                }
                return false;
            });
            $('#tagcancel').on('click', function (e) {
                e.preventDefault();
                layer.closeAll();
            })
        })

        $('.inducbtnadd').on('click', function (e) {
            e.preventDefault();
            var addindforms = addinduction.innerHTML;
            layer.open({
                title: '调整文件类型',
                type: 1,
                content: addindforms,
                area: ['400px', '200px']
            });
            $
            form.on('submit(entrytag)', function (obj) {
                var checkStatus = table.checkStatus('allfile');
                data=checkStatus.data ;
                console.log(checkStatus);
                if (data.length == 0) {
                    layer.msg('请选择需要删除的文件！')
                } else {

                    var ids = '';
                    $.each(data, function (idx, obj) {
                        if (idx > 0) {
                            ids += ',';
                            debugger
                        }
                        ids += obj.id;
                    });
                    console.log(ids);
                    $.ajax({
                        url: '../deletefile.htmls',
                        method: 'post',
                        data: {"ids": ids,"userId":userId},
                        dataType: 'json',
                        success: function (result) {
                            if (result.code ==0) {
                                fileManage.reload();
                                layer.msg(result.msg)
                            } else {
                                layer.msg(result.msg);
                            }
                            layer.closeAll();
                        }
                    });
                }
                return false;
            });
            $('#tagcancel').on('click', function (e) {
                e.preventDefault();
                layer.closeAll();
            })
        })
        form.on('submit(entrysearch)', function (data) {
            fileManage.reload({
                where: data.field
            });
            console.log(data.field);
            return false;
        })
        form.render();
    });
</script>
</body>
</html>