<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../js/ztree/css/zTreeStyle.css">
<script src="../js/ztree/js/jquery.ztree.all.min.js"></script>
<body>
<div class="layui-form-search">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">部门:</label>
            <div class="layui-input-inline">
                <select name="dept" id="departsearch" lay-filter="departsearch">
                </select>
            </div>
            <label class="layui-form-label">操作类型:</label>
            <div class="layui-input-inline">
                <select name="operationStyle" id="entrystate">
                    <option value="0">请选择</option>
                    <option value="4">查阅文档</option>
                    <option value="3">修改文档</option>
                    <option value="2">删除文档</option>
                    <option value="5">下载文档及附件</option>
                    <!--1添加文档 2删除文档  3更改文档 4 查阅文档 5下载附件-->
                </select>
            </div>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="layui-btn" lay-submit lay-filter="entrysearch">查询</button>
        </div>
    </form>
</div>
<div class="layui-table-inductionlist">
    <table class="layui-hide" id="file_operationlog" lay-filter="file_operationlog"></table>
</div>

<script src="../layui/layui.js"></script>
<script src="../js/jquery-1.8.3.min.js"></script>
<script>

    layui.use(['table', 'form', 'laydate', 'laypage', 'layer', 'laytpl'], function () {
        var table = layui.table,
            form = layui.form,
            laypage = layui.laypage;
            laytpl = layui.laytpl,
            layer = layui.layer;
        var entrytableins = table.render({
            elem: '#file_operationlog',
            // where: {"date1": $("#inducdate1").val(), "date2": $("#inducdate2").val()},
            url: '../show/fileLog.htmls?fileId='+fileId,
            cols: [[
                  {field: 'departmentName', title: '操作部门', width: 200}
                , {field: 'username', title: '姓名', width: 200}
                , {field: 'operationTime', title: '操作时间', width: 200}
                , {field: 'operation', title: '文档类型', width: 200}
            ]]
            , page: true
            , height: 750,
            id: 'file_operationlog'
        });
        laypage.render({
            elem: 'file_operationlog'
            , count: 10 //数据总数
            , jump: function (obj) {
                console.log(obj)
            }
        });
        // 监听搜索按钮提交
        form.on('submit(entrysearch)', function (data) {
            entrytableins.reload({
                where: data.field
            });
            console.log(data.field);
            return false;
        })
        form.render();
//        //监听单元格事件
//        table.on('tool(indmanage)', function (obj) {
//            var data = obj.data;
//            if (obj.event === 'setSign') {
//                $(".layui-body-container").load("demo/recorddetails.html?type=month&id=" + obj.data.id, function () {
//                    var url = "report/selectReportDetail";
//                    var data = {
//                        "empid": obj.data.empid
//                    };
//
//                    var data = {
//                        "empid": obj.data.empid
//                    }
//                    console.log(data);
//                    $.post(url, data, function (result) {
//                        console.log(result);
//                    });
//                });
//            }
//        });

    });
</script>

</body>
</html>