<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>消息管理</title>
    <style>
        .layui-btn-add {
            float: left;
        }

        .layui-form-search {
            float: right;
            margin-right: 20px;
        }

        .layui-table-inductionlist {
            clear: both;
            margin-right: 10px;
        }
    </style>
</head>
<link rel="stylesheet" href="../layui/css/layui.css" media="all">
<link rel="stylesheet" href="../css/index.css">
<body>
<script src="../layui/layui.js"></script>
<script src="../js/jquery-1.8.3.min.js"></script>
<script type="text/html" id="addinduction">
    <form class="layui-form" action="" style="margin-top:20px;">
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="required-color">*</i>标题：</label>
            <div class="layui-input-inline">
                <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><i class="required-color">*</i>内容：</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><i class="required-color">*</i>发送部门：</label>
            <div class="layui-input-block">
                <textarea placeholder="" class="layui-textarea"></textarea>
            </div>
        </div>

        <button class="layui-btn layui-btn-mini" style="margin-left: 100px">选择部门</button>
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit lay-filter="addentryplan" style="margin-left: 450px ">确认</button>
        </div>
    </form>
</script>
<script type="text/html" id="chooseDep">

</script>
<script type="text/html" id="addinduction3">
    <span> 删除后,发送的人员将无法查看该公告，确定删除吗?</span>
    <div style=" margin-left:120px ;margin-top: 60px ">
        <button class="layui-btn" lay-submit lay-filter="entrytag">确定</button>
        <button class="layui-btn layui-btn-primary" id="tagcancel">取消</button>
    </div>
</script>
<div class="layui-btn-add" style="margin-left: 20px">
    <button class="layui-btn inducbtnadd" data-type="reload">添加</button>
    <button class="layui-btn inducbtnadd3" data-type="reload">删除</button>
</div>
<div class="layui-form-search">
    <form class="layui-form" style="float: left;margin-top: 40px ">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">标题:</label>
                <div class="layui-input-inline">
                    <input type="input" name="title" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="inducdate1" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="inducdate2" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="entrysearch">查询</button>
            </div>
        </div>
    </form>
</div>
<div class="layui-table-inductionlist">
    <table class="layui-hide" id="allmsg" lay-filter="indmanage"></table>
</div>
<script>
    layui.use(['table', 'form', 'laydate', 'laypage', 'layer', 'laytpl'], function () {
        var table = layui.table,
            form = layui.form,
            $ = layui.$,
            laydate = layui.laydate,
            laypage = layui.laypage,
            laytpl = layui.laytpl,
            layer = layui.layer;
        var entrytableins = table.render({
            elem: '#allmsg',
            where: {"date1": $("#inducdate1").val(), "date2": $("#inducdate2").val()},
            url: '../show/allad.htmls',
            cols: [[
                {checkbox: true}
                , {field: 'adTitle', title: '标题', width: 400}
                , {field: 'adContent', title: '内容', width: 400}
                , {field: 'sendObject', title: '发送部门', width: 300}
                , {field: 'addUser', title: '发送人', width: 200,}
                , {field: 'sendTime', title: '发送时间', width: 300}, {
                    title: '操作',
                    width: 200,
                    fixed: 'right',
                    align: 'center',
                    toolbar: '#entryopertion'
                }
            ]]
            , page: true
            , height: 750,
            id: 'indmanage'
        });
        laypage.render({
            elem: 'demo1'
            , count: 10 //数据总数
            , jump: function (obj) {
            }
        });
        //日期范围
        //时间选择器
        laydate.render({
            elem: '#inducdate1'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#inducdate2'
            , type: 'datetime'
        });
        //添加弹窗初始化
        $('.inducbtnadd').on('click', function () {
            var addindform = $('#addinduction').html();
            layer.open({
                type: 1,
                title: '添加公告',
                content: addindform,
                area: ['900px', '550px']
            })

        })
       var beginDate=$("#inducdate1").val();
        var endDate=$("#inducdate2").val();
        var d1 = new Date(beginDate.replace(/\-/g, "\/"));
        var d2 = new Date(endDate.replace(/\-/g, "\/"));
        if(beginDate!=""&&endDate!=""&&d1 >=d2)
        {
            layer.msg("开始时间不能大于结束时间！");
            return false;
        }
//        //添加弹窗初始化
//        $('.inducbtnadd3').on('click', function () {
//            var addindforms = $('#addinduction3').html();
//            layer.open({
//                type: 1,
//                title: '删除公告',
//                content: addindforms,
//                area: ['600px', '400px'],
//
//            });
//        });
        $('.inducbtnadd3').on('click', function (e) {
            e.preventDefault();
            var addindform = addinduction3.innerHTML;
            layer.open({
                title: '删除公告',
                type: 1,
                content: addindform,
                area: ['400px', '200px']
            });
            form.on('submit(entrytag)', function (obj) {
                var checkStatus = table.checkStatus('indmanage');
                data=checkStatus.data ;
                console.log(checkStatus);
                if (data.length == 0) {
                    layer.msg('请选择需要删除的公告记录！')
                } else {
                    layer.msg('是否确定删除！')
                    var ids = '';
                    $.each(data, function (idx, obj) {
                        if (idx > 0) {
                            ids += ',';
                        }
                        ids += obj.id;
                    });
                    console.log(ids);
                    $.ajax({
                        url: '../deleteAd.htmls',
                        method: 'post',
                        data: {"ids": ids},
                        dataType: 'json',
                        success: function (result) {
                            if (result.code === 0) {
                                entrytableins.reload();
                                layer.msg(result.msg)
                            } else {
                                layer.msg(result.msg);
                            }
                            layer.closeAll();
                        }
                    });
                }
                return false;
            });
            $('#tagcancel').on('click', function (e) {
                e.preventDefault();
                layer.closeAll();
            })
        })
        //添加弹窗初始化
        $('.layui-btn-mini').on('click', function () {
            var addindform = $('#chooseDep').html();
            layer.open({
                type: 1,
                title: '选择部门',
                content: addindform,
                area: ['700px', '600px']
            })
        })
        // 监听搜索按钮提交
        form.on('submit(entrysearch)', function (data) {
            entrytableins.reload({
                where: data.field
            });
            console.log(data.field);
            return false;
        })
        form.render();
    });
</script>

</body>
</html>