<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的消息</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<div class="layui-table-inductionlist">
    <table class="layui-hide" id="mymsg" lay-filter="indmanage"></table>
</div>
<input type="hidden" id="userId" th:value="${session.LOGIN_USER_ID}">
<script src="../layui/layui.js"></script>
<script src="../js/jquery-1.8.3.min.js"></script>
<script type="text/html" id="fullbaseinfo">
    <fieldset class="layui-elem-field">
        <legend>公告详细信息</legend>
        发布时间：{{ }} 发布人：{{}} 已读人数：{{}} 未读人数：{{}}
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend></legend>
        </fieldset>

        <div class="layui-field-box">
            <textarea>{{}}</textarea>
        </div>
    </fieldset>
</script>


<script>
    layui.use(['table', 'laypage', 'layer', 'laytpl'], function () {
        var table = layui.table,
            laypage = layui.laypage;
        laytpl = layui.laytpl, layer = layui.layer;
        var userId = $("#userId").val();
        if (userId != null) {
            console.log(123);
            debugger
        }

        else {
            console.log(456);
        }
        console.log(userId);
        var entrytableins = table.render({
            elem: '#mymsg',
            url: '../show/userrecad.htmls?userId=' + userId,
            cols: [[
                {field: 'at', title: '标题', event: 'setSign', width: 600}
                , {field: 're', title: '上传时间', width: 600}
            ]]
            , page: true
            , height: 750,
            id: 'indmanage'
        });
        laypage.render({
            elem: 'demo1'
            , count: 10 //数据总数
            , jump: function (obj) {
                console.log(obj)
            }
        });
        table.on('tool(demoEvent)', function (obj) {
            var data = obj.data;
            if (obj.event === 'setSign') {
                layer.prompt({
                    formType: 2
                    , title: ' [' + data.at + '] '
                    , time: '[' + data.re + ']'
                    , value: data.sign
                }, function (value, index) {
                    layer.close(index);
                    //这里一般是发送修改的Ajax请求
                    //同步更新表格和缓存对应的值
                    obj.update({
                        sign: value
                    });
                });
            }
        });

//        // 监听搜索按钮提交
//        form.on('submit(entrysearch)', function (data) {
//            entrytableins.reload({
//                where: data.field
//            });
//            console.log(data.field);
//
//            return false;
//        })
//        form.render();
//
    });
</script>

</body>
</html>