<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<input type="hidden" id="userId" th:value="${session.LOGIN_USER_ID}">
<body>
<div class="layui-table-inductionlist">
    <table class="layui-hide" id="userfile" lay-filter="indmanage"></table>
</div>
<script src="../layui/layui.js"></script>
<script src="../js/jquery-1.8.3.min.js"></script>
<script>
    layui.use(['table', 'laypage', 'layer', 'laytpl'], function () {
        var table = layui.table,
            laypage = layui.laypage,
            laytpl = layui.laytpl,
            layer = layui.layer;
        var userId = $("#userId").val();
        var entrytableins = table.render({
            elem: '#userfile',
            url: '../show/userlookfile?userId=' + userId,
            cols: [[
                {field: 'title', title: '标题', event: 'openFile', width: 400}
                , {field: 'addFileTime', title: '上传时间', width: 400, sort: true}
                , {field: 'username', title: '上传人', width: 400}
            ]]
            , page: true
            , height: 750,
            id: 'indmanage'
        });
        laypage.render({
            elem: 'demo1'
            , count: 10 //数据总数
            , jump: function (obj) {

            }
        });
            table.on('tool(indmanage)', function (obj) {
                var data = obj.data;
                if (obj.event === 'openFile') {

                }
            });

//        // 监听搜索按钮提交
//        form.on('submit(entrysearch)', function (data) {
//            entrytableins.reload({
//                where: data.field
//            });
//            console.log(data.field);
//
//            return false;
//        })
//        form.render();
//
    });
</script>

</body>
</html>