<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部文件</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<input type="hidden" id="pid">
<div class="layui-form-search">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">部门:</label>
            <div class="layui-input-inline">
                <select name="dept" id="departsearch" lay-filter="departsearch"   >
                </select>
            </div>
            <label class="layui-form-label" >类型:</label>
            <div class="layui-input-inline">
                <select name="operationStyle" id="operationStyle">
                    <option value="0">请选择</option>
                    <!--1添加文档 2删除文档  3更改文档 4 查阅文档 5下载附件-->
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="layui-btn" lay-submit lay-filter="entrysearch">查询</button>
            </div>

    </form>
</div>
<div class="layui-table-inductionlist">
    <table class="layui-hide" id="allfile" lay-filter="fileManage"></table>
</div>

<script type="text/html" id="checkrolemenu2">
    <div class="addreform">
        <form class="layui-form" style="width: 400px;margin: 0 auto;">
            <div id="accessTree2" class="ztree" style="float: left;width: 200px;min-height: 270px;border-right: 1px solid grey"></div>
            <div id="depmsg" style="float: left;margin-left: 10px;">

            </div>
        </form>
    </div>
</script>
<script src="../layui/layui.js"></script>
<script src="../js/jquery-1.8.3.min.js"></script>
<script src="../js/ztree/js/jquery.ztree.all.min.js"></script>
<script>
    var treedata;
    var treeObj;
    layui.use(['table', 'form', 'laydate', 'laypage', 'layer', 'laytpl'], function () {
        var table = layui.table,
            form = layui.form,
            laypage = layui.laypage,
            laytpl = layui.laytpl,
            layer = layui.layer;
        var entrytableins = table.render({
            elem: '#allfile',
//where: {"date1": $("#inducdate1").val(), "date2": $("#inducdate2").val()},
            url: '../show/allFile',
            cols: [[
                {field: 'title', title: '标题', event: 'openFile', width: 600}
                , {field: 'addFileTime', title: '上传时间', width: 600, sort: true}
                , {field: 'username', title: '上传人', width: 600}
            ]]
            , page: true
            , height: 750,
            id: 'indmanage'
        });
        laypage.render({
            elem: 'demo1'
            , count: 10 //数据总数
            , jump: function (obj) {
            }
        });
        table.on('tool(fileManage)', function (obj) {
//            var data = obj.data;
//            var fileId = obj.data.id;
//            var content = obj.data.fileContent;
//            var title = obj.data.title;
//            var fileUrl = obj.data.fileUrl;
//            var title = obj.data.title;

//            if(obj.event=="enter-department"){
//                $("departsearch").click(function(){
//                    $.ajax (
//                        {
//                            async: false,//是否异步
//                            cache: false,//是否使用缓存
//                            type: 'POST',//请求方式：post
//                            dataType: 'json',//数据传输格式：json
//                            url: 'getListByTree',//请求的action路径
//
//                       success: function(data) {
//                           treedata = data;
//                           //把后台封装好的简单Json格式赋给treeNodes
//                           treeObj = $.fn.zTree.init($(" "), setting, data);
//                       }
//                        });
               });
                form.on('select(departsearch)',function (data) {
                    $.ajax (
                        {
                            async: false,//是否异步
                            cache: false,//是否使用缓存
                            type: 'POST',//请求方式：post
                            dataType: 'json',//数据传输格式：json
                            url: 'getListByTree',//请求的action路径

                            success: function(data) {
                                treedata = data;
                                //把后台封装好的简单Json格式赋给treeNodes
                                treeObj = $.fn.zTree.init($(" "), setting, data);
                            }
                        });
                });
//
//                $.ajax({
//                    async: false,//是否异步
//                    cache: false,//是否使用缓存
//                    type: 'POST',//请求方式：post
//                    dataType: 'json',//数据传输格式：json
//                    url: 'getListByTree',//请求的action路径
//                    success: function (data) {
//                        treedata = data;
//                        //把后台封装好的简单Json格式赋给treeNodes
//                        treeObj = $.fn.zTree.init($(" "), setting, data);
//                    }
//                });
        // 监听搜索按钮提交
        form.on('submit(entrysearch)', function (data) {
            entrytableins.reload({
                where: data.field
            });
            console.log(data.field);

            return false;
        })
        form.render();
    });
</script>

</body>
</html>