<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件详情</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<script src="../js/jquery-1.8.3.min.js"></script>
<body><div>


    <div class="layui-row">
        <div class="layui-col-xs6">
            <div class="grid-demo grid-demo-bg1"></div>
            <button class="layui-btn layui-btn-normal">修改文件</button>
        </div>
        <div class="layui-col-xs6">

            <button class="layui-btn layui-btn-normal">删除文件</button>
        </div>
    </div>

<script>
    var content = /content=(\u4E00-\u9FA5a-zA-Z]+)/gi.exec(decodeURIComponent(window.location.href));
    console.log(content);
    var fileId = /fileId=([\u4E00-\u9FA5a-zA-Z]+)/gi.exec(decodeURIComponent(window.location.href));
    console.log(fileId);
    var fileUrl = /fileUrl=([\u4E00-\u9FA5a-zA-Z]+)/gi.exec(decodeURIComponent(window.location.href));
    console.log(fileUrl);

</script>
</body>
</html>